.chat-input-send-button svg[data-v-2a7fb1c3] path {
	stroke: #fff;
	stroke-width: 3.5;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.chat-window-wrapper .chat-window-toggle path {
	stroke: #fff;
	/* stroke-width: 2.85; */
	stroke-linecap: round;
	stroke-linejoin: round;
}

.chat-layout .chat-header {
	position: relative;
	z-index: 1;
	padding-left: 4.875rem;
}

.chat-layout .chat-header::before {
	content: '';
	display: block;
	width: 2.75rem;
	height: 2.75rem;
	border-radius: 50%;
	background-color: var(--chat--color-secondary);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: absolute;
	top: 50%;
	left: 1.375rem;
	margin-top: calc(-2.75rem / 2);
	background-image: url('../img/icon.jpg');
}